.page-header__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .page-header__wrapper {
    width: 780px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    background: url("../img/header-desktop@1x.jpg") center no-repeat;
  }

  .page-header__wrapper {
    width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    padding-bottom: 174px;
    position: relative;

    &::before {
      content: "";
      top: 380px;
      right: -207px;
      width: 23px;
      height: 220px;
      position: absolute;
      background-image: url("../img/step1.png");
      background-repeat: no-repeat;
    }
  }
}
