.pop-up {
  display: none;
  max-width: 320px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  box-sizing: border-box;
  background-color: #7f38bd;
  transform: translate(-50%, -50%);
  box-shadow: 0 15px 50px 15px #00000034;
  z-index: 3;
}

.pop-up__title {
  padding: 0 20px;
  padding-right: 30px;
  font-size: 18px;
  font-weight: 600;
  line-height: 39px;
  color: #ffffff;
  text-transform: uppercase;
}

.pop-up__form {
  width: 320px;
  margin: 0;
  padding: 20px 20px;
  background-color: #ffffff;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

.pop-up__form-wrapper {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}

.pop-up__form-wrapper:nth-child(3) {
  margin-top: 15px;
  margin-bottom: 12px;
}

.pop-up__form label {
  display: block;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  margin-bottom: 8px;
}

.pop-up__form input[type="text"],
.pop-up__form input[type="tel"] {
  box-sizing: border-box;
  width: 280px;
  padding: 11px 40px 11px 15px;
  font-size: 14px;
  color: #b1b1b1;
  border: 2px solid #d7dcde;
  border-radius: 3px;
  outline: 0;
}

input:required {
  border: 2px solid #e74246;
}

.pop-up__button {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 160px;
}

.pop-up__close {
  position: absolute;
  top: 40px;
  right: 20px;
  width: 21px;
  height: 21px;
  font-size: 0;
  background: none;
  border: 0;
  cursor: pointer;
  opacity: 0.5;
}

.pop-up__close:hover,
.pop-up__close:focus {
  opacity: 1;
}

.pop-up__close:active {
  opacity: 0.1;
}

.pop-up__close-image {
  fill: #000000;
}

.pop-up-show {
  display: block;
  animation: bounce 0.6s;
}

@keyframes bounce {
  0% {
    transform: translateY(-50%) translateX(-50%) translateY(-2000px);
  }

  70% {
    transform: translateY(-50%) translateX(-50%) translateY(30px);
  }

  90% {
    transform: translateY(-50%) translateX(-50%) translateY(-10px);
  }

  100% {
    transform: translateY(-50%) translateX(-50%) translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateY(-50%) translateX(-50%) translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateY(-50%) translateX(-50%) translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateY(-50%) translateX(-50%) translateX(10px);
  }
}

.pop-up-error {
  animation: shake 0.6s;
}
